.logo{
    width: 178px;
    margin: -6px;
    margin-top: 20px;
    margin-right: 0;
}
.input-col{
    padding: 24px; 
    padding-top: 14px;
    padding-right: 1px;
    padding-left: 25px !important;
    padding-bottom: 22px
}

.input_title{
    display: block;
    font-family: 'Questrial';
    font-weight: bold;
}

.select_input{
    display: block;
    width: 100%;
    height: 30px 
}

.btn_input{
    height: 48px !important;
    width: 50px !important;
}